logo=$(cat /oakestra-dev/.devcontainer/resources/synth-shell/logo.ascii)

# STATUS
print_info="
        DATE
        UPTIME
        SPACER
        SYSLOAD_MON%
        MEMORY_MON
        HDDROOT_MON
        SPACER
        OS
        SHELL"


##==============================================================================
## COLORS
##==============================================================================

format_info="           -c white"
format_highlight="      -c blue      -e bold"
format_crit="           -c green     -e bold"
format_deco="           -c white     -e bold"
format_ok="             -c blue      -e bold"
format_error="          -c red       -e bold     -e blink"
format_logo="           -c green     -e bold"
